extends /inc/basic-wrapper.pug

block prepend prebuild
	include /inc/prebuild.pug

block headmeta
	// include basic css, meta
	if production
		|
		<?php include_once('inc/basic-head-meta.php'); ?>
	else
		include /inc/basic-head-meta.pug

block mainnav
	// include top menu
	if production
		|
		<?php include_once('inc/basic-mainnav_logo-left.php'); ?>
	else
		include /inc/basic-mainnav_logo-left.pug

block slide
	// include search
	if production
		|
		<?php include_once('inc/basic-search.php'); ?>
	else
		include /inc/basic-search.pug

block footer
	// include footer
	if production
		|
		<?php include_once('inc/basic-footer.php'); ?>
	else
		include /inc/basic-footer.pug
