.logo-wrapper{
	margin-top: 15px;
}
.navbar-nav{
	margin-left: 0px;
	margin-right: 0px;
}
.asset__price--beginner:before{
	//display: none;
	width: 50px;
	-webkit-background-size: contain;
	background-size: contain;
	right: -1px;
}
.asset__price--beginner .text__white{
	margin-top: 10px;
}
.asset__price--beginner, .asset__price--other{
	height: 70px;
}
.list__badge{
	margin-bottom: 50px;
}
.list__assetHilight li{
	margin-bottom: 50px;
}
.assetdesc-wrapper{
	padding-left: 72px;
}
.asset_maintitle{
	position: relative;
}
.course .divide-line{
	margin: 15px 0 5px 0;
}
.avatar{
	.avatar-wrapper{
		min-height: unset;
		img{
			position: relative;
		}
	}
	ul.avatar-list {
	    display: flex;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    flex-direction: row;
	    flex-wrap: wrap;
	    width: 72px;
	    position: absolute;
	    right: -72px;
	    top: 0;
	    img{
	    	position: relative;
	    }
		li{
		    flex-grow: 1;
		}
	}
}

.radar-chart{
	margin-top: 0;
}
.qrcode-2 {
    display: block;
}
.btn{
	// white-space: normal;
}
.btn.btn-lg{
	line-height: 24px !important;
}
.profile__nav a, .profile__nav--img a{
	border-left: 2px solid #efefef;
}
.profile__nav--img a{
	border: 0;
}
.profile__nav--section{
	background-color: transparent;
	margin-top: 0;
	a{
		color: #3c92c9 !important;
	}
	.profile__navbox{
		// text-align: right;
	}
}
.profile__nav--img {
    top: -10px;
    position: relative;
    .profile__img{
    	margin-top: 10px;
    }
}
.profile__name{
	span{
		font-size: 12px;
		line-height: 14px;
	}
}

@media screen and ( max-width: 1200px ){

}
@media screen and ( max-width: 740px ){
	.head-logo{
		display: inline-block;
		width: 150px;
		margin-top: -40px;
	}
}
@media screen and ( max-width: 590px ){

}
@media screen and ( max-width: 500px ){

}
@media screen and ( max-width: 470px ){

}
@media screen and ( max-width: 428px ){

}
@media screen and ( max-width: 388px ){

}
@media screen and (max-width: 348px){

}

@media screen and ( max-width: 518px ){

}

@media screen and (max-width: 1199px){
	.search-wrapper{
		margin-top: 0px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 1025px){

}

@media screen and (max-width: 1024px){

}



@media screen and (max-width : 1024px) and (min-width: 768px){

}


@media screen and (max-width: 991px){

}

@media screen and (max-width: 1199px) and (min-width: 990px){

}
@media screen and (max-width: 991px) and (min-width: 580px){

}

@media screen and (max-width: 922px) and (min-width : 768px){

}

@media screen and (max-width: 922px){

}

@media screen and (max-width: 888px){

}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 620px){

}

@media screen and (max-width: 587px){

}


@media screen and (max-width: 560px){

}


@media screen and (max-width: 450px){

}


@media screen and (max-width: 425px){

}


@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){
	.profile__nav--section{
		.profile__navbox{
			text-align: left;
		}
	}
}


@media screen and (min-width: 1025px){

}


@media screen and (min-width: 1170px){

}

@media screen and (min-width: 1200px){
	.profile__nav--section{
		.profile__navbox{
			text-align: right;
		}
	}
}


@media screen and (min-width: 1245px){

}