extends /template/basic-login.pug

//- css headmeta
block append headCSS
  -
    var css = [
      
    ]
  each item in css
    link(type="text/css", rel="stylesheet", href=item)

//- js footer
block prepend script
  -
    var js = [
      "assets/js/profile.js"
    ]
  each item in js
    script(src=item)


block prepend content
  .container-fluid
    .row
      include inc/user-nav.pug
    .row
      .container
        .row.mb-lg.mt-xs
          .col-md-3
            .container-fluid.mb-sm
              .row
                .col-xs-6.textstyle-1 
                  i.fa.fa-usd   
                  | วงเงิน
                .col-xs-6.nopadr
                  .basic-bar(data-bar="10000000", data-bar-max="20000000")
                .col-xs-12.nopadr.text-right 10 K / 20 M
              .row.mt-xs-2
                .col-xs-6.textstyle-1 
                  i.fa.fa-usd 
                  | เงินประกัน
                .col-xs-6.nopadr.text-right 10,000 บาท
            ul.sidesubmenu
              li
                a(href="profile.php") Profile
              li.active
                a(href="change_password.php") Change Password
              li
                a(href="credit.php") Credit
          .col-md-9
              form.form-horizontal.container-fluid.form-label-left
                .row.mb-sm
                  .col-xs-12
                    h4.text_head--h4 Change Password
                .row
                    .col-sm-6.col-sm-offset-3
                      .form-group
                        label.col-xs-12.control-label Password
                        .col-xs-12
                          input(type='password', class='form-control')
                      .form-group
                        label.col-xs-12.control-label New Password
                        .col-xs-12
                          input(type='password', class='form-control')
                      .form-group
                        label.col-xs-12.control-label Confirm Password
                        .col-xs-12
                          input(type='password', class='form-control')
                .row.mt-xs
                  .form-group.col-sm-12
                    .col-xs-12.text-right
                      <a href="#" type="submit" class="basic-btn btn btn-primary">Submit</a>


