extends /template/basic-login.pug

//- css headmeta
block append headCSS
  -
    var css = [
    ]
  each item in css
    link(type="text/css", rel="stylesheet", href=item)

//- js footer
block append script
  -
    var js = [

    ]
  each item in js
    script(src=item)


block prepend content
  .container-fluid
    .row
      include inc/user-nav.pug
    .row
      .container
        .row.mb-lg.mt-xs
          .col-md-5.mb-sm
            .container-fluid                  
              |
              |
              .row
                .col-md-12
                  |
                  |
                  // start image,video section
                  .asset_gallery
                    .viewer_img
                      img(src="http://placehold.it/600x410")
                  |
                  |
              
          .col-md-7
            .container-fluid
              .row.row-underline
                .col-md-12
                  h1.text_head--h1 รายละเอียดสิทธิ์
              .row
                // start asset content section
                .col-md-12
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui alias voluptatem error veritatis natus, facere, eligendi labore et velit dolor accusantium deleniti adipisci, totam voluptates architecto commodi pariatur corporis? Consequatur ab numquam dolores modi odit laudantium id, perferendis qui praesentium nam! Dolore omnis repellendus sunt rerum at nisi, laudantium tenetur neque minus facere incidunt
              .row.list__assetHilight.mt-xs
                .col-md-12.text-right
                  .input__group
                    a(href="#buy-postasset-modal", data-toggle="modal", class="input__increase")
                      i.fa.fa-shopping-cart  
                      |  ซื้อเลย

  #buy-postasset-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
          h4.modal-title ซื้อสิทธิ์
        .modal-body
          form.form.form-horizontal
            .form-group
              label.col-xs-12.col-sm-3.control-label ชื่อ-นามสกุล
              .col-xs-12.col-sm-9
                input(type='text', class='form-control')
            .form-group
              label.col-xs-12.col-sm-3.control-label สิทธิ์
              .col-xs-12.col-sm-6
                input(type='text', class='form-control')
            .form-group
              label.col-xs-12.col-sm-3.control-label จำนวนเงิน
              .col-xs-10.col-sm-6
                input(type='text', class='form-control')
              p.form-control-static.col-xs-2 บาท
            .form-group
              label.col-xs-12.col-sm-3.control-label พื้นที่
              .col-xs-12.col-sm-6
                select(class='form-control')
                  option -------------
                  option -------------
                  option -------------
            .form-group
              label.col-xs-12.col-sm-3.control-label จังหวัด
              .col-xs-12.col-sm-6
                select(class='form-control')
                  option ---เลือกจังหวัด---
                  option กรุงเทพฯ
                  option นนทบุรี
            .form-group
              .col-sm-offset-3.col-sm-9 
                input(type="checkbox")
                |   ยอมรับ <br><br>
                a(href="policy_postasset.php", target="_blank") รายละเอียดเงื่อนไข


        .modal-footer
          button(type="button", class="btn btn-default", data-dismiss="modal", aria-hidden="true") ยกเลิก
          button(type="button", class="btn btn-primary") บันทึก

      

