extends /template/basic-course.pug

//- css headmeta
block append headCSS
  -
    var css = [

    ]
  each item in css
    link(type="text/css", rel="stylesheet", href=item)

//- js footer
block prepend script
  -
    var js = [

    ]
  each item in js
    script(src=item)


block prepend content
  .container-fluid.bgwhite
    .row
      .container.why
        .row.mt-lg.mb-sm
          .col-xs-12.text-center
            h1.headstyle1 ลืมรหัสผ่าน
        .row.mb-sm
          .col-md-8.col-md-offset-2.text-center
            p.mb-sm-2 กรอกอีเมลที่ใช้ในการสมัคร เพื่อรับอีเมลตั้งรหัสผ่านใหม่
        .row
          .col-md-6.col-md-offset-3
            .container-fluid
              .row.mb-lg
                .col-md-8
                  <input type="text" class="basic-text form-control" >
                .col-md-4
                  <a href="#" type="submit" class="basic-btn btn btn-primary btn-xs"><i class="fa fa-lock"></i> ตั้งรหัสผ่านใหม่</a>





      

