.row
    .pagination-list
        li
            a(href='course.php') <<
        li
            a(href='course.php') <
        li.active
            a(href='course.php') 1
        li
            a(href='course.php') 2
        li
            a(href='course.php') 3
        li
            a(href='course.php') >>
        li
            a(href='course.php') >
