ul.myaccount-menu
  li
    a(href="mycourse.php")
      i.fa.fa-archive.text-center
      | คอร์สของฉัน
  li
    a(href="course_payment_status.php")
      i.fa.fa-check-circle-o.text-center
      | สถานะการชำระเงิน
  li
    a(href="purchase_history.php")
      i.fa.fa-shopping-cart.text-center
      | ประวัติการซื้อคอร์ส
  li
    a(href="confirm_payment.php")
      i.fa.fa-usd.text-center
      | แจ้งการโอนเงิน
  li
    a(href="myaccount.php") 
      i.fa.fa-user.text-center
      | รายละเอียดส่วนตัว
  li
    a(href="change_password.php") 
      i.fa.fa-key.text-center
      | เปลี่ยนรหัสผ่าน
  li
    a(href="index.php")
      i.fa.fa-sign-out.text-center
      | ออกจากระบบ