div.container-fluid.adminbar
	.row
		.col-xs-2.btn.admin-name ยินดีต้อนรับคุณ <a href="myaccount.php">สมชาย ใจดี</a>
		.col-xs-10.text-right.admin-topmenu
			a.btn-mycourse.btn(href='mycourse.php')
				i.fa.fa-play
				span.text-topmenu คอร์สของฉัน
			a.btn-cart.btn(href='cart.php')
				i.fa.fa-shopping-cart
				span.text-topmenu ตะกร้าสินค้า
			a.btn-signout.btn(href='index.php')
				i.fa.fa-sign-out
				span.text-topmenu ออกจากระบบ