include mixin.pug
doctype html
html(lang="en")

	block prebuild
	
	head
		block headmeta

		block headCSS
	
	body
		
		block mainnav

		block logo

		block slide
		
		// start content
		block content
		// end content

		block footer

		block script