.col-lg-3
  .content-head
    h4 Retailer Dashboard
  .avatar.mb-sm.text-center
    img(src="assets/img/avatar-user.jpg", class="avatar-img")
    span.username Firstname Lastname
  ul.user-nav
    li
      a <i class="fa fa-eye"></i> View Request
    li
      a <i class="fa fa-asterisk"></i> Post Promotions
    li
      a <i class="fa fa-pencil"></i> Submit Weekly Price
    li
      a <i class="fa fa-usd"></i> Buy Credits / View Credit Balance
    li
      a <i class="fa fa-comments"></i> Chat Message <span class="norti norti-primary">3</span>