|
|
// start user nav
.profile__nav--section.profile__nav--compact
    .container
      .col-xs-12
        ul.profile__navbox.text-center
          li.profile__nav--img
            a(href='#').profile__img
             img(src="assets/img/avatar-user.jpg")
            a.profile__name(href='profile.php') Firstname Lastname<br>
              | Credit 20,000,000
          li.profile__nav
            a(href='asset_favourites.php') Asset
          li.profile__nav
            a(href='event_dashboard.php') Event
          li.profile__nav
            a(href='postasset.php') Post Asset
          li.profile__nav
            a(href='#') Commission
          li.profile__nav
            a(href='message.php') Message
              span.norti.norti-primary 2
          li.profile__nav
            a(href='history.php') History
// end user nav
|
|
